.heading {

font-size:25px;
width:100%;
margin:0px;
box-shadow: 5px 5px 5px goldenrod;

}

.note {

font-size:20px;
color: green;

}

.copy_right_footer {

position:fixed;
color:rgb(red, green, blue);
width: 100%;
background-color: rgba(red, green, blue, alpha);
text-align: center;
bottom:0;

}

canvas {

border: 5px 5px 5px white;
border-radius:20px;
border-shadow: 5px  grey;

}